body{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    background-color: rgb(48, 47, 46);
}
#container{
    margin-top: 200px;
    display:flex;
    flex-direction: row;
    background-color: rgb(132, 14, 126);
    align-items: center;
    justify-content: center;
    border-radius:15px;
    padding: 5px;
}
input{
    background-color:  rgb(132, 14, 126);
    border: none;
    width: 0px;
    height: 30px;
    border-radius:15px;
    transition: all 0.6s ease;
    color: #fff;
}
input:focus {
    outline: none;
}
#container:hover input{
    width: 200px;
    display: block;
    margin-left: 10px;
    transition: all 0.6s ease;
}
#search{
    background-color:rgb(255, 255, 255);
    width:40px ;
    height: 40px;
    border-radius:50%;
    cursor: pointer;
    background-image: url("search.png");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    
}

